    <button type="button" class="btn btn-primary" ng-click="getGenreData(28)">Action</button>
    <button type="button" class="btn btn-primary genrebtn" ng-click="getGenreData(12)">Adventure</button>
    <button type="button" class="btn btn-primary genrebtn" ng-click="getGenreData(16)">Animation</button>
    <button type="button" class="btn btn-primary genrebtn" ng-click="getGenreData(35)">Comedy</button>
    <button type="button" class="btn btn-primary genrebtn" ng-click="getGenreData(99)">Documentary</button>
    <button type="button" class="btn btn-primary genrebtn" ng-click="getGenreData(18)">Drama</button>
    <button type="button" class="btn btn-primary genrebtn" ng-click="getGenreData(27)">Horror</button>

    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Titles matching your Genre search</div>

  <!-- Table -->
  <table class="table">
  <thead><tr>
  <th>Title</th>
  <th>Release Date</th>
  <th>User Rating</th>
  </tr></thead>
   <tbody>
   <tr data-ng-repeat="x in gData">
   <td>{{x["Title"]}}</td>
      <td>{{x["Release"]}}</td>
      <td>{{x["Vote"]}}</td>
       </tr>
      </tbody>
<!--
    <li ng-repeat="x in gData">

</li>
-->
  </table>

</div>
<!--
<li ng-repeat="x in gData">
    {{x["Title"]}}, <b><em>Release Date: {{x["Release"]}}</em></b>, RATING: {{x["Vote"]}}
</li>
-->
