<div class="input-group search-bar"><form ng-submit="getGenreData(search)"><input type="text" ng-model="search" class="form-control" placeholder="Enter a Genre" autofocus /></form>
<span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Titles matching your Genre search</div>

  <!-- Table -->
  <table class="table">
  <thead><tr>
  <th>Title</th>
  <th>Release Date</th>
  <th>User Rating</th>
  </tr></thead>
   <tbody>
   <tr data-ng-repeat="x in gData">
   <td>{{x["Title"]}}</td>
      <td>{{x["Release"]}}</td>
      <td>{{x["Vote"]}}</td>
       </tr>
      </tbody>
<!--
    <li ng-repeat="x in gData">

</li>
-->
  </table>

</div>
<!--
<li ng-repeat="x in gData">
    {{x["Title"]}}, <b><em>Release Date: {{x["Release"]}}</em></b>, RATING: {{x["Vote"]}}
</li>
-->
